.index-contener-wrapper {
  background: #19be6b;
  img {
    width: 100%;
  }
  .index-banner {
    height: 405px;
  }
  .teacher-info {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .card {
    margin: 0 5px;
  }
}
